body {
  background: lightgray;
}

.faqSection {
  color: #fff;
  background: #666;
  width: 20%;
  margin: 1rem auto;
  border: 2px solid #fff;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#counterSection {
  border: 1px solid #000;
  width: 20%;
  margin: 0 auto;
  padding: 0 2rem;
}

#counterFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counterButton {
  border: 1px solid #000;
  padding: 1.5rem 2rem;
  background: none;
}

#counterResult {
  padding: 1.5rem 2rem;
  border: 1px solid #000;
}

#resetButton {
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background: none;
  border: 1px solid #000;
  margin-bottom: 2rem;
}